.project
.pydevproject
.settings
master
test_panov
*.pyc
*.dat
panov/media/admin_tools
tests.txt
tests.txt
tests_error.txt
tests_out.txt
django_cache
panov/media/images
panov/media/cache
django_cache

panov.db
