<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load media %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <title>{%block title%}{% endblock %}</title>
  <link href="{% media "css/style.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% media "css/ui-darkness/jquery-ui-1.8.17.css" %}" rel="stylesheet" type="text/css" />
  

  <script type="text/javascript" src="{% media "js/jquery.js" %}"></script>
  <script type="text/javascript" src="{% media "js/jquery-ui-1.8.17.min.js" %}"></script>
  <script type="text/javascript" src="{% media "js/jquery.form.js" %}"></script>
  <script type="text/javascript" src="{% media "js/scripts.js" %}"></script>

</head>

<body>
{% block body %}
<div class="main">
    <!-- header -->
            {% block header %}
                <div class="header">
                    
                </div>
            {% endblock header %}
           <div class="clear"></div>
            <!-- end header -->
            
    <!-- content -->
    <div class="content">
        {% block content %}
            content
        {% endblock content %}
        <div class="clear"></div>
    </div>
     <!-- end content -->
    
    <!--footer-->
    {% block footer %}

        <div class="footer">
            
        </div>

    {% endblock footer %}
<!--end footer-->

{% endblock body %}
</body>
</html>

