{% extends 'base.html' %}
{% load edit_link %}
{% load thumbnail %}

{% block content %}
<div id="container">
  <div id="top">
    <h1>42 Coffee Cups Test Assignment</h1>
  </div>
     <div class="right">
        {% if request.user.is_authenticated %}
            <a href="{% url person-edit person.id %}">edit</a>  
            {% admin_url person %}
            <a href="{% url logout %}">logout</a>
        {% else %}
            <a href="{% url login %}">login</a>
        {% endif %}    
    </div>
  <div class="clear">
      </div>
  <div id="leftSide">
  <fieldset>
    <legend>Person Info</legend>
    <div>
        <span class='left'>Name:</span>
        <div class='right'>    
        {{ person.name }}
        </div>
        <div class='clear'>
        </div>
    </div>
    
    <div>
        <span class='left'>Last Name:</span>
        <div class='right'>    
        {{ person.last_name }}
        </div>
        <div class='clear'>
        </div>
    </div>
    <div>
        <span class='left'>Birthdate:</span>
        <div class='right'>    
        {{ person.birthdate|date:"d.m.Y" }}
        </div>
        <div class='clear'>
        </div>
    </div>
    <div>
        <span class='left'>Photo:</span>
        </br>
        <div class='left'>
            {% if person.photo %}
               {% thumbnail person.photo "250x250" as im %}
                    <img src="{{ im.url }}"
                        style="margin:{{ im|margin:"250x250" }}"
                        alt="" />
                {% endthumbnail %}
            {% endif %}
        </div>
        <div class='clear'>
        </div>
    </div>
  </fieldset>
  </div>
  <div id="rightSide">
  <fieldset>
    <legend>Personal contats</legend>
    <div>
        <span class='left'>Email:</span>
        <div class='right'>    
        {{ ci.email }}
        </div>
        <div class='clear'>
        </div>
    </div>
    <div>
        <span class='left'>Jabber:</span>
        <div class='right'>    
        {{ ci.jabber }}
        </div>
        <div class='clear'>
        </div>
    </div>
    <div>
        <span class='left'>Skype:</span>
        <div class='right'>    
        {{ ci.skype }}
        </div>
        <div class='clear'>
        </div>
    </div>
    <div>
        <span class='left'>Other Contacts:</span>
        </br>
        <div class='left'>    
        {{ ci.other_contacts }}
        </div>
        <div class='clear'>
        </div>
    </div>
    <div>
        <span class='left'>Bio:</span>
        </br>
        <div class='left'>    
        {{ person.bio }}
        </div>
        <div class='clear'>
        </div>
    </div>
  </fieldset>
  </p></div>
  <div class="clear"></div>
  <div class='line'>
    <hr></hr>
  </div>
  <div class='left'>
      <a href='{% url request-list %}'>requests</a>
      <a href='{% url history %}'>history</a>
  </div>    
</div>
{% endblock content %}
