{% extends 'base.html' %}

{% block content %}
<div id="container">
  <div id="top">
    <h1>42 Coffee Cups Test Assignment</h1>
  </div>
  <div id="leftSide">
  <fieldset>
    <legend>Person Info</legend>
    <div>
        <span style='float: left'>Name:</span>
        <div style='float: right'>    
        {{ person.name }}
        </div>
        <div class='clear'>
        </div>
    </div>
    
    <div>
        <span style='float: left'>Last Name:</span>
        <div style='float: right'>    
        {{ person.last_name }}
        </div>
        <div class='clear'>
        </div>
    </div>
    <div>
        <span style='float: left'>Birthdate:</span>
        <div style='float: right'>    
        {{ person.birthdate|date:"d.m.Y" }}
        </div>
        <div class='clear'>
        </div>
    </div>
    <div>
        <span style='float: left'>Bio:</span>
        </br>
        <div style='float: left'>    
        {{ person.bio }}
        </div>
        <div class='clear'>
        </div>
    </div>
  </fieldset>
  </div>
  <div id="rightSide">
  <fieldset>
    <legend>Personal contats</legend>
    <div>
        <span style='float: left'>Email:</span>
        <div style='float: right'>    
        {{ ci.email }}
        </div>
        <div class='clear'>
        </div>
    </div>
    <div>
        <span style='float: left'>Jabber:</span>
        <div style='float: right'>    
        {{ ci.jabber }}
        </div>
        <div class='clear'>
        </div>
    </div>
    <div>
        <span style='float: left'>Skype:</span>
        <div style='float: right'>    
        {{ ci.skype }}
        </div>
        <div class='clear'>
        </div>
    </div>
    <div>
        <span style='float: left'>Other Contacts:</span>
        </br>
        <div style='float: left'>    
        {{ ci.email }}
        </div>
        <div class='clear'>
        </div>
    </div>
  </fieldset>
  </p></div>
  <div class="clear"></div>
</div>
{% endblock content %}
