{% extends 'base.html' %}
{% load media %}
{% block extra_scripts %}
    <script type="text/javascript" src="{% media "js/person_edit.js" %}"></script>
{% endblock %}

{% block content %}
<div id="container">
  <div id="top">
    <h1>42 Coffee Cups Test Assignment</h1>
  </div>
  <div id="loading">
    <h1>Идет загрузка</h1>
  </div>
  
  <form method="POST" action="." enctype="multipart/form-data" id="person_form">
  {% csrf_token %}
  <input id="person_id" type="text" name="person_id" value="{{person.id}}" maxlength="255" style='display:none'>

  <div id="leftSide">
  <fieldset>
    <legend>Person Info</legend>
    <table>
    {{ person_form.as_table }}
    </table>
  </fieldset>
  </div>
  <div id="rightSide">
  <fieldset>
    <legend>Personal contats</legend>
    <table>
    {{ contact_info_form.as_table }}
    </table>
  </fieldset>
  </div>
  <div class="clear"></div>
   <div>
    <input type="submit" value="submit" />
    <a href="{% url index %}">cancel<a>
   </div>
  </form>   
 
  <div class='line'>
    <hr></hr>
  </div>
  <div class='left'>
      <a href='{% url request-list %}'>requests</a>
  </div>
</div>
{% endblock content %}
